/* Fondo general */
body {
  font-family: Arial, sans-serif;
  background: #F0F5F9;
  color: #1E2022;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#app {
  background: #F0F5F9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(30, 32, 34, 0.2);
  width: 800px;
}

h1 {
  color: #52616B;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: bold;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

input {
  flex: 1;
  background: #C9D6DF;
  color: #1E2022;
}

select {
  background: #C9D6DF;
  color: #1E2022;
}

button {
  background: #52616B;
  color: #F0F5F9;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: #1E2022;
  color: #F0F5F9;
}

#taskColumns {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.task-column {
  background: #C9D6DF;
  border-radius: 10px;
  padding: 15px;
  width: 22%;
  box-shadow: 0 5px 15px rgba(30, 32, 34, 0.1);
}

.task-column h3 {
  color: #52616B;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: center;
}

.task-list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: #F0F5F9;
  padding: 10px;
  border-radius: 5px;
  color: #52616B;
  transition: background 0.3s;
}

.task-item button {
  background: #1E2022;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #F0F5F9;
  cursor: pointer;
  transition: background 0.3s;
}

.task-item button:hover {
  background: #52616B;
}
